@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/*Для настройки ширины элементов*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0 40px;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

/*стакан*/
.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}

.button {
  display: inline-block;
  padding: 8px 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  /**/
  border-radius: 4px;
}

.button-light {
  background-color: #82b3d3;
}

/*кнопка сброса*/
.button-transparent {
  background-color: transparent;
}

.title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

/*инпут*/
.field {
  width: 100%;
  height: 48px;
  padding: 10px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.field::placeholder {
  color: #000000;

  opacity: 0.6;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style-type: none;
}

.navigation-user {
  display: flex;
  max-width: 150px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link {
  display: block;
  width: 44px;
  min-height: 64px;

  text-align: right;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-link-search {
  background-image: url("../image/svg/search.svg");
}

.navigation-user-link-favorites {
  background-image: url("../image/svg/heart.svg");
}

.navigation-button {
  width: 160px;
  margin-top: 14px;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px;
}

.logo {
  margin-right: 30px;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.hero {
  flex-grow: 1;
  padding-top: 64px;
  padding-bottom: 25px;

  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../image/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages-texts {
  width: 900px;
  margin: 0 auto;
  padding: 69px 70px;

  text-align: center;
}

/*Достопримечательности*/
.advantages-main-title {
  margin-bottom: 20px;
}

.advantages-image {
  margin: 0;
  padding: 0;
}

.advantages-photo {
  display: block;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style-type: none;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-content {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
}

.advantages-item:not(.advantages-attractions):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-attractions {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-item-revers {
  flex-direction: row-reverse;
}

.advantages-title {
  margin: 0 0 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  /**/
  text-transform: uppercase;
}

.advantages-attractions .advantages-title {
  color: #ffffff;
}

.advantages-description {
  margin: 0;
}

/*services*/
.services-texts {
  width: 680px;
  margin: 0 auto;
  padding: 65px 70px;

  text-align: center;
}

.services-list {
  display: flex;
  margin: 0 auto;
  padding: 0;

  list-style-type: none;
}

.services-title {
  margin: 20px;
}

/*тут прям не знаю как выровнять*/
.services-item {
  width: 400px;
  min-height: 385px;
  padding: 180px 85px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: top 80px center;
  background-size: 75px 72px;
}

.services-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-house {
  background-image: url("../image/svg/home.svg");
}

.services-item-food {
  background-image: url("../image/svg/food.svg");
}

.services-item-souvenirs {
  background-image: url("../image/svg/souvenirs.svg");
}

.services-subtitle {
  margin: 0 0 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.search {
  width: 630px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;

  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-description {
  margin-bottom: 54px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  margin: 0 auto;
  padding: 96px 70px 104px;

  text-align: center;
}

.subscribe-home {
  color: #ffffff;

  background-color: #5c84ab;
  background-image: url("../image/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-description {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-input {
  border-radius: 4px 0 0 4px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.page-footer-social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

/* Texts/Text phone */
.page-footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.page-footer-htmlacademy {
  display: block;
  width: 115px;
  height: 33px;
}

.social-link {
  display: block;
  width: 47px;
  height: 40px;
  padding: 0 10px;
}

.catalog {
  padding: 35px 70px;

  color: #ffffff;

  background-color: #82b3d3;
  background-image: url("../image/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*почему то никак не хочет вставать в ряд с разными настройками*/
.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-group {
  max-width: 191px;

  border: none;
}

.filter-group-checkbox {
  margin-right: 70px;
}

.filter-group-range {
  width: 288px;
  margin-right: 70px;
  margin-left: auto;
}

.results {
  padding: 50px 70px 60px;
}

.result-sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0;
}

.sorting-view {
  display: flex;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link:last-child {
  margin-right: 0;
}

.view-link-active {
  border-color: #000000;
}

.view-link-tile {
  background-image: url("../image/svg/view-cards.svg");
}

.view-link-slideshow {
  background-image: url("../image/svg/view-window.svg");
}

.view-link-list {
  background-image: url("../image/svg/view-list.svg");
}

.catalog-header-title {
  margin: 0 0 10px;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;

  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -17px;

  width: 7px;
  height: 10px;

  background-image: url("../image/svg/arrow.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;

  background-image: url("../image/svg/mini-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-list {
  list-style-type: none;
}

.control-item {
  margin-right: 10px;
  margin-bottom: 16px;
}

.sorting-select {
  width: 292px;
  height: 49px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.hotel-list {
  display: grid;
  margin: 0;
  padding: 0;

  gap: 20px;
  grid-template-columns: 340px 340px 340px;
}

.filter-title {
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-text {
  line-height: 23px;
}

.hotel-card {
  display: grid;
  padding: 20px;

  gap: 16px 20px;
  grid-template-columns: 140px 140px;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;

  grid-column: 1/-1;
}

.hotel-card-price {
  text-align: end;
}

.hotel-card-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotels-rating-star {
  width: 140px;

  background-image: url("../image/svg/stars.svg");
  background-position: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 80px;

  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding: 5px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;
}

.pagination-link-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
  border-color: transparent;
}
