@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*Для настройки ширины элементов*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;

}

body {
  margin: 0;
  padding: 0 40px;

  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}
/*стакан*/
.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.main {
  flex-grow: 1;
}

.button {
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #756157;
  text-decoration: none;
  border: none; /**/
  border-radius: 4px;

}
.button-light {
  background-color: #82B3D3;
}
/*кнопка сброса*/
.button-transparent {
  background-color: transparent;
}

.title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text {
  font-size: 22px;
  margin: 0;
  line-height: 26px;
  }
/*инпут*/
  .field {
    width: 100%;
    height: 48px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
  }

  .field::placeholder {
    color: #000000;
    opacity: 0.6;
  }

.navigation {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  align-items: start;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
  max-width: 500px;
  list-style-type: none;
  }

.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  max-width: 150px;
  list-style-type: none;
}


.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link {
  display: block;
  width: 44px;
  height: 64px;
  padding: 22px 12px;
}

.navigation-user-link-search{
  background-image: url("../image/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-link-favorites{
  background-image: url("../image/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-button {
    width: 160px;
    margin-top: 14px;
}

.page-header {
  flex-wrap: wrap;
  padding: 0 70px;
  display: flex;
}
.logo {
  margin-right: 30px;
}

.hero-logo {

  display: block;
  margin: 0 auto;
}

.hero {
  color: #ffffff;
  background-color: #5c84ab;
  background-image: url("../image/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  padding-top: 64px;
  padding-bottom: 25px;
}

.advantages-texts  {
  padding: 69px 70px;
  text-align: center;
  width: 900px;
  margin: 0 auto;
}
/*Достопримечательности*/
.advantages-main-title {
  margin-bottom: 20px;

}
.advantages-image {
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
  }
.advantages-content {
  padding: 103px 85px;
  width: 400px;
  min-height: 385px;
}

.advantages-item:not(.advantages-attractions):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-attractions {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-revers{
  flex-direction: row-reverse;
}

.advantages-title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000; /**/
  text-transform: uppercase;
}

.advantages-attractions .advantages-title {
  color: #ffffff;
}

.advantages-description {
  margin: 0;
 }

/*services*/
.services-texts {
  margin: 0 auto;
  padding: 65px 70px;
  text-align: center;
  width: 680px;
}
.services-list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  list-style-type: none;
}

.services-title {
  margin: 20px;
}
/*тут прям не знаю как выровнять*/
.services-item {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  padding-top: 180px;
  text-align: center;
  vertical-align: text-bottom;
}

.services-item-house,
.services-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-house{
  background-image: url("../image/svg/home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: top 80px center;
}

.services-item-food{
background-image: url("../image/svg/food.svg");
background-repeat: no-repeat;
background-size: 75px 72px;
background-position: top 80px center;
}

.services-item-souvenirs {
  background-image: url("../image/svg/souvenirs.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: top 80px center;
}
.services-subtitle {
  margin: 0 0 30px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.search {
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
  width: 630px;
}

.search-title {
  margin-bottom: 20px;
}

.search-description {
  margin-bottom: 54px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  margin: 0 auto;
  text-align: center;
  padding: 96px 70px 104px;
}

.subscribe-home {
  color: #ffffff;
  background-color: #5c84ab;
  background-image: url("../image/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }

.subscribe-description {
  margin: 0 auto;
  width: 475px;
  margin-bottom: 54px;
}
.subscribe-form {
  display: flex;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-title{
  margin-bottom: 20px;
}

.subscribe-input {
  border-radius: 4px 0 0 4px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 40px 70px 30px;
  justify-content: space-between;
  }

 .page-footer-social {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;

 }
/* Texts/Text phone */
.page-footer-phone {
  color: #000;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  }
.page-footer-htmlacademy{
  display: block;
  width: 115px;
  height: 33px;
}

.social-link {
  display: block;
  width: 47px;
  height: 40px;
  padding: 0 10px;
}

.catalog {
  padding: 35px 70px;
  color:#FFF;
  background-color: #82B3D3;
  background-image: url("../image/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*почему то никак не хочет вставать в ряд с разными настройками*/
.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-group {
  max-width: 191px;
  border: none;
}

.filter-group-checkbox {
  margin-right: 70px;
}

.filter-group-range {
  width: 288px;
  margin-left: auto;
  margin-right: 70px;
}

.results {
  padding: 50px 70px 60px;
}

.result-sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 40px;
}

.sorting-view {
  display: flex;
}
.view-link {
  display: block;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  margin-right: 8px;
}

.view-link:last-child {margin-right: 0;}

.catalog-header-title {
  margin: 0 0 10px;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs {
  display: flex;
  list-style-type: none;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color:inherit;
  text-decoration: none;
}
/*вот эту часть я не знаю как сделать*/
.breadcrumbs-link-home {
  display: block;
}

.filter-list {
  list-style-type: none;

}
.control-item {
  margin-bottom: 16px;
}
.view-link-active {
  background-image: url("../image/svg/view-cards.svg");
  background-repeat: no-repeat;
  background-position: top 15px center;
  border: 2px solid  #000;
}

.view-link-slideshow {
  background-image: url("../image/svg/view-window.svg");
  background-repeat: no-repeat;
  background-position: top 15px center;
  border: 2px solid #E5E5E5;
}

.view-link-list {
  background-image: url("../image/svg/view-list.svg");
  background-repeat: no-repeat;
  background-position: top 15px center;
  border: 2px solid #E5E5E5;
}
.sorting-select {
  width: 292px;
  height: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.hotel-list {
  display: flex;
  flex-wrap: wrap;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.control-text {
  line-height: 23px;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotels-favorites-active {
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 80px;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color:  #82B3D3;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  padding: 5px;

}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link-current {
  color: #000;
  background-color: #F2F2F2;
  border-color: transparent;
}

.pagination-link-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  border-color: transparent;
}
